{% load staticfiles %}
<ul class="menu">

    {%  for link in main_menu %}
           <li>
               <a href="{% url link.href %}"
                  class="{% if request.resolver_match.url_name == link.href %}
                  menu-link-active menu-link
                  {% else %}
                    menu-link
                   {% endif %}">
                {{ link.name }}
                </a>
           </li>
               {% endfor %}
               <li>
                            <a href="{% url 'index' %}" class="menu-link"><img src="{% static 'img/search.svg' %}" alt="search"></a>
                        </li>
</ul>
